@if (isEmpty()) {
  <p class="pos-timeline__empty">{{ emptyKey() | translate }}</p>
} @else {
  <ol class="pos-timeline" [attr.aria-label]="ariaLabelKey() | translate">
    @for (entry of entries(); track entry.id) {
      <li class="pos-timeline__item">
        <span class="pos-timeline__marker material-symbols-rounded" aria-hidden="true">{{
          entry.icon | msIcon
        }}</span>
        <div class="pos-timeline__body">
          <p class="pos-timeline__label">
            @if (entry.labelKey) {
              {{ entry.labelKey | translate }}
            } @else {
              {{ entry.labelText }}
            }
          </p>
          <time class="pos-timeline__time" [attr.datetime]="entry.occurredAt">
            {{ entry.occurredAt | date: 'medium' }}
          </time>
          @if (entry.details.length > 0) {
            <dl class="pos-timeline__details">
              @for (detail of entry.details; track detail.termKey) {
                <div class="pos-timeline__detail">
                  <dt class="pos-timeline__term">{{ detail.termKey | translate }}</dt>
                  <dd class="pos-timeline__value">
                    @if (detail.datetime) {
                      <time [attr.datetime]="detail.datetime">{{ detail.datetime | date: 'medium' }}</time>
                    } @else {
                      {{ detail.value }}
                    }
                  </dd>
                </div>
              }
            </dl>
          }
        </div>
      </li>
    }
  </ol>
}
